<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.BlogMapper">
    <insert id="addBlog" parameterType="blog">
         insert into mybatis.blog (id, title, author, create_time, views)
         VALUES (#{id},#{title},#{author},#{createTime},#{views});
    </insert>
    <sql id="if-title-author">
        <if test="title != NULL">
            title = #{title},
        </if>
        <if test="author != NULL">
            author = #{author}
        </if>
    </sql>
    <select id="queryBlogIF" parameterType="map" resultType="Blog">
        select * from mybatis.blog
        <where>
            <if test="title != NULL">
                and title = #{title}
            </if>
            <if test="author != NULL">
                and author = #{author}
            </if>
        </where>

    </select>
    
    <select id="queryBlogChoose" parameterType="map" resultType="Blog">
        select * from mybatis.blog
           <where>
              <choose>
                  <when test="title != NULL">
                      title = #{title}
                  </when>

                  <when test="author != NULL">
                      and author = #{author}
                  </when>
                  <otherwise>
                            and views = #{views}
                  </otherwise>
              </choose>
           </where>
    </select>

    <update id="updateBlog" parameterType="map">
        update mybatis.blog
              <set>
                  <include refid="if-title-author"></include>
              </set>
          where id = #{id}
    </update>

    <select id="queryBlogForeach" parameterType="map" resultType="Blog">
        select  * from mybatis.blog
            <where>
                <foreach collection="ids" item="id" open="and(" close=")" separator="or">
                    id = #{id}
                </foreach>
            </where>
    </select>

</mapper>